## extensions of files not to be tracked

*.o
*.a
*~
*.mex4
*.mexlx
*.mexsol
*.mexa32
*.mexa64
*.mexw32
*.mexw64
*.mexs32
*.mexs64
*.mexglx
*.lib
*.mexglx
*.dll
*.llb
*.exe
*.asv
tracy


## directories not to be tracked

lnls-data/
likewise/
MatlabMiddleLayer-SVN-2013-10-08/
*cod_matlab/




